html {
  scroll-behavior: smooth;
}
body {
  background-color: #fafafa;
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans Display', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
  margin: 0;
  font-size: 1rem;
}
p {
  margin: 0;
  font-size: 0.875rem;
}

svg {
  display: block;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/****** NOTO SANS - 400 REGULAR ******/

@font-face {
  font-family: Noto Sans Display;
  font-weight: 400;
  font-style: normal;
  src: url('./fonts/NotoSansDisplay-Regular.woff2') format('woff2');
  font-display: swap;
}

/****** NOTO SANS - 700 BOLD ******/

@font-face {
  font-family: Noto Sans Display;
  font-weight: 700;
  font-style: normal;
  src: url('./fonts/NotoSansDisplay-Bold.woff2') format('woff2');
  font-display: swap;
}
